
h1 {
    text-align: left;
    color: white;
    font-family:cursive;
    font-size: xx-large;
  }
  body {
    background-color: rgb(138, 12, 12);
  }
  .topTitle {
    text-align: left;
    color: bisque;
    font-family:cursive;
    font-size: 70px;
    display:inline;
    float: inherit;
    background-color: rgba(243, 253, 253, 0.22);
  }
  .topTools {
    text-align: left;
    color: white;
    font-family:cursive;
    font-size: 50px;
    display:inline;
    float: inherit;
    background-color: rgba(243, 253, 253, 0.22);
  
  
  }
  .topG-mes {
    text-align: left;
    color: white;
    font-family:cursive;
    font-size: 50px;
    display:inline;
    float: inherit;
    background-color: rgba(243, 253, 253, 0.22);
  
  
  }
  .topAbout {
    text-align: left;
    color: white;
    font-family:cursive;
    font-size: 50px;
    display:inline;
    float: inherit;
    background-color: rgba(243, 253, 253, 0.22);
  
  
  }
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  .linkSpace {
    float: inherit;
    font-size: 50px;
    display: inline;
    color:beige;
  }
  