h1 {
  text-align: center;
  color: white;
  font-family:cursive;
  font-size: xx-large;
}
h2 {
  text-align: center;
  color: white;
  font-family:cursive;
  font-size: larger;
}
body {
  background-color: rgb(194, 115, 115 );
}
img {
  border-radius: 10px;
  border-style: double;
  border-width: 5px;
  border-color: white;
}
.topTitle {
  text-align: left;
  color: bisque;
  font-family:cursive;
  font-size: 60px;
  display:inline;
  float: inherit;
    background-color: rgba(243, 253, 253, 0.22);
}
.topTools {
  text-align: left;
  color: white;
  font-family:cursive;
  font-size: 50px;
  display:inline;
  float: inherit;
    background-color: rgba(243, 253, 253, 0.22);
  

}
.topg-mes {
  text-align: left;
  color: white;
  font-family:cursive;
  font-size: 50px;
  display:inline;
  float: inherit;
  background-color: rgba(243, 253, 253, 0.22);


}
.topAbout {
  text-align: left;
  color: white;
  font-family:cursive;
  font-size: 50px;
  display:inline;
  float: inherit;
  background-color: rgba(243, 253, 253, 0.22);


}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
.linkSpace {
  float: inherit;
  font-size: 50px;
  display: inline;
  color:beige;
}