h1 {
  text-align: center;
  color: #e28b24;
  font-family:cursive;
  font-size: xx-large;
}
h2 {
  text-align: center;
  color: #e28b24;
  font-family:cursive;
  font-size: larger;
}
body {
  background-color: rgb(126, 199, 147);
}
img {
  border-radius: 10px;
  border-style: double;
  border-width: 5px;
  border-color: white;
}
.topTitle {
  text-align: left;
  color: #bd6b0f;
  font-family:cursive;
  font-size: 60px;
  display:inline;
  float: inherit;
}
.topTools {
  text-align: left;
  color: #e28b24;
  font-family:cursive;
  font-size: 50px;
  display:inline;
  float: inherit;
  

}
.topg-mes {
  text-align: left;
  color: #e28b24;
  font-family:cursive;
  font-size: 50px;
  display:inline;
  float: inherit;


}
.topAbout {
  text-align: left;
  color: #e28b24;
  font-family:cursive;
  font-size: 50px;
  display:inline;
  float: inherit;


}
a:link {
  color: #e28b24;
  text-decoration: none;
}
a:visited {
  color: #e28b24;
  text-decoration: none;
}
.linkSpace {
  float: inherit;
  font-size: 50px;
  display: inline;
  color:beige;
}