h1 {
  text-align: center;
  color: white;
  font-family:cursive;
  font-size: xx-large;
}
h2 {
  text-align: center;
  color: white;
  font-family:cursive;
  font-size: larger;
}
body {
background-color: rgb(138, 12, 12);
}
img {
  border-radius: 10px;
  border-style: double;
  border-width: 10px;
}


